* {
  margin: 0;
  padding: 0;
}

.box {
  /*main boxes*/
  width: 100%;
  height: 100%;
  min-width: 320px;
  min-height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;
  font-weight: 400;
}

.mobile-navbar {
  display: flex;
  background-color: #3CAEA3;
  width: 100%;
  height: auto;
  min-width: 320px;
  min-height: 50px;
  max-width: 479px;
  max-height: auto;
  z-index: 1;
  align-items: center;
  font-size: 3vh;
  position: fixed;
}

.mobile-navbar ul {
  list-style-type: none;
  margin: auto;
}

.mobile-navbar li {
  display: inline-flex;
  float: left;
  padding-right: 10px;
  text-transform: uppercase;
}

.mobile-navbar li a {
  text-decoration: none;
  color: #173f5f;
}

.mobile-navbar li a:hover {
  transition: 0.6;
  opacity: 0.6;
}

.destop-navbar {
  display: none;
}

.firsttab {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 320px;
  min-height: 400px;
  max-width: 479px;
  max-height: auto;
  background-color: #3CAEA3;
  font-size: 5vh;
}

.flex1 {
  margin: auto;
  text-align: center;
  text-transform: capitalize;
}

.secondtab {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 320px;
  min-height: 300px;
  max-width: 479px;
  max-height: auto;
  background-color: #B3E5E0;
}

.secondtab a {
  text-decoration: none;
  color: #173f5f;
}

.project-section {
  margin: auto;
  text-align: center;
  text-transform: capitalize;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  line-height: 30px;
  font-size: 3vh;
}

.project-section h2 {
  font-size: 4vh;
  padding-bottom: 15px;
}

.project-pic {
  display: none;
}

.info-sect {
  font-size: 3vh;
}

.thirdtab {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 320px;
  min-height: 300px;
  max-width: 479px;
  max-height: auto;
  background-color: #1DCDBC;
  font-size: 4vh;
}

.connect-sect {
  margin: auto;
  text-align: center;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  line-height: 45px;
  align-items: center;
}

.connect-pic {
  width: 90px;
  height: auto;
}

.footertab {
  display: flex;
  background-color: #20639b;
  width: 100%;
  height: auto;
  min-width: 320px;
  min-height: 75px;
  max-width: 479px;
  max-height: auto;
  z-index: 0;
  text-transform: capitalize;
  font-size: 3vh;
}

.info-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  color: #3CAEA3;
}
.info-footer a{
  text-decoration:none;
  color:#3CAEA3;
}

/* media guaries */
@media only screen and (min-width: 320px) and (max-width: 479px) {
  ...
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .mobile-navbar {
    min-width: 480px;
    min-height: 50px;
    max-width: 767px;
    max-height: auto;
  }
  .mobile-navbar ul {

  }
  .firsttab {
    min-width: 480px;
    min-height: 800px;
    max-width: 767px;
    max-height: auto;
  }

  .secondtab {
    min-width: 480px;
    min-height: 400px;
    max-width: 767px;
    max-height: auto;
  }

  .project-section {
    margin: auto;
    text-align: center;
    text-transform: capitalize;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    line-height: 30px;
  }

  .project-section h2 {
    margin-bottom: 25px;
  }

  .project-pic {
    display: inline-block;
    width: 100px;
    height: 100px;
  }

  .info-sect {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    width: 465px;
    height: 165px;
    text-align: justify;
  }

  .line-sec {
    text-decoration: none;
    background-color: #3CAEA3;
    text-align: center;
  }

  .text-wrap {
    margin-top: -5px;
    width: 100px;
    height: auto;

    transition: 0.3;
    opacity: 0.6;
  }

  .text-wrap:hover {
    opacity: 1;
  }

  .showoff {
    margin-top: 50px;
  }

  .showoff:hover {
    transition: 0.5;
    background-color: #3CAEA3;
  }

  .thirdtab {
    min-width: 480px;
    min-height: 400px;
    max-width: 767px;
    max-height: auto;
  }

  .con-info-main {
    flex-direction: row;
  }

  .footertab {
    min-width: 480px;
    min-height: 75px;
    max-width: 767px;
    max-height: auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mobile-navbar {
    min-width: 768px;
    min-height: 50px;
    max-width: 991px;
    max-height: auto;
  }
  .mobile-navbar ul {
  padding-left:  55%;
  }
  .mobile-navbar li {
    display: inline-flex;
    float: left;
    padding-right: 15px;
    text-transform: uppercase;
  }

  .firsttab {
    min-width: 768px;
    min-height: 800px;
    max-width: 991px;
    max-height: auto;
  }

  .secondtab {
    min-width: 768px;
    min-height: 500px;
    max-width: 991px;
    max-height: auto;
  }

  .project-section {
    margin: auto;
    text-align: center;
    text-transform: capitalize;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    line-height: 30px;
  }
  .project-section h2 {
    margin-bottom: 50px;
  }
  .project-pic {
    display: inline-block;
    width: 100px;
    height: 100px;
  }

  .info-sect {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 0;
    width: 500px;
    height: 165px;
    text-align: justify;
  }

  .line-sec {
    text-decoration: none;
    background-color: #3CAEA3;
    text-align: center;
    align-content: center;
  }

  .text-wrap {
    margin-top: -5px;
    width: 100px;
    height: auto;

    transition: 0.3;
    opacity: 0.6;
  }
  .text-wrap:hover {
    opacity: 1;
  }

  .showoff {
    margin-top: 50px;
  }
  .showoff:hover {
    transition: 0.5;
    background-color: #3CAEA3;
  }

  .thirdtab {
    min-width: 768px;
    min-height: 400px;
    max-width: 991px;
    max-height: auto;
  }

  .con-info-main {
    flex-direction: row;
  }

  .footertab {
    min-width: 768px;
    min-height: 75px;
    max-width: 991px;
    max-height: auto;
  }
}

@media only screen and (min-width: 992px) {
  .mobile-navbar {
    min-width: 992px;
    min-height: 50px;
    max-width: 100%;
    max-height: auto;
  }
.mobile-navbar ul {
padding-left:  50%;
}
  .firsttab {
    min-width: 992px;
    min-height: 1000px;
    max-width: 100%;
    max-height: auto;
  }

  .secondtab {
    min-width: 992px;
    min-height: 500px;
    max-width: 100%;
    max-height: auto;
  }

  .project-section {
    margin: auto;
    text-align: center;
    text-transform: capitalize;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    line-height: 30px;
  }
  .project-section h2 {
    margin-bottom: 75px;
  }
  .project-pic {
    display: inline-block;
    width: 100px;
    height: 100px;
  }

  .info-sect {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    width: 500px;
    height: 194px;
    text-align: justify;
  }

  .line-sec {
    text-decoration: none;
    background-color: #3CAEA3;
    text-align: center;
    align-content: center;
    width: 107px;
  }

  .text-wrap {
margin-top: 10px;
    width: 100px;
    height: auto;
    transition: 0.3;
    opacity: 0.6;
    width: 107px;
  }

  .text-wrap:hover {
    opacity: 1;
  }

  .showoff {
    margin-top: 50px;
  }
  .showoff:hover {
    transition: 0.5;
    background-color: #3CAEA3;
  }
  .thirdtab {
    min-width: 992px;
    min-height: 400px;
    max-width: 100%;
    max-height: auto;
  }

  .con-info-main {
    flex-direction: row;
  }

  .footertab {
    min-width: 992px;
    min-height: 75px;
    max-width: 100%;
    max-height: auto;
  }
}

/* my old code for example */
/*
  .box{
    display: flex;
    flex-direction: column;
    border:1px solid red;
  }
  /* navigation bars /
  .mobile-navbar{
    display: none;
  }

  .destop-navbar{
    background-color: #3CAEA3;
    border:1px solid red;
    position:sticky;
    width: 100%;
    height: auto;
    float: left;
    position:static;

  }
  .destop-navbar ul{
    display: inline-block;
    list-style-type: none;
    margin-left: 50%;

  }
  .destop-navbar li{
  display: inline-block;
  float: left;
  margin: 27.5px;
  padding-right:15px;
  }

  /*navigation bars */
/*first tab/

  .firsttab{
    height: 100%;
    width: 100%;
    background-color: #3CAEA3;
  }

  .flex1{
    display: flex;
    position: relative;
    min-width: 480px;
    min-height: 55vh;
    max-width: 1920px;
    max-height: 1080px;
    background-color: #3CAEA3;
    padding-top: 45vh;

    /*font/
    font-size:25px;
    border:1px solid yellow;
  } */
